body {
  background: rgb(254,153,0);  
  background-image: url("/assets/img/burgertime-guy.jpg");
  background-size: 20%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right;
}

ul {
 /* background: rgb(96, 152, 209); */
border-style: solid;
border-color: red;
 width: 30%;
 margin: auto;
}

li {
    padding: 5px;
    margin: 5px;
    /* background: #faebd7; */
  }

h1 {
  /* background: rgb(96, 152, 209); */
  width: 30%;
  margin: auto;
}
  
  .label {
    font-weight: bold;
  }
  
  .create-update-form {
    padding: 5px;
    margin: 5px;
    background: aqua;
  }
  
  .form-group {
    padding-bottom: 10px;
    margin-bottom: 5px;
  }
  
.burger-add {
  border-style: solid;
  border-color: red;
   width: 30%;
   margin: auto;
   text-align: center;
}